.bg-image {
    height: 75vh;
    background: 
    url("https://tomailiev.com/pics/bgs/6.jpg") no-repeat center center, 
    url("https://tomailiev.com/pics/bgs/6666.jpg") no-repeat center center;
    // background-color: #343a40;
    background-size: cover;
    transition: all 2s ease-in;
}